<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplikasiwisatarajaampat"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Detail_kamar"
            android:exported="false" />
        <activity
            android:name=".Konfirmasi_Pembayaran"
            android:exported="false" />
        <activity
            android:name=".List_jenis_kamar"
            android:exported="false" />
        <activity
            android:name=".instruksipembayaran"
            android:exported="false" />
        <activity
            android:name=".Listpenginapan"
            android:exported="false" />
        <activity
            android:name=".Invoice"
            android:exported="false" />
        <activity
            android:name=".Pemesanan_kamar"
            android:exported="false" />
        <activity
            android:name=".activity_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detailpenginapan"
            android:exported="false" />
        <activity
            android:name=".activity_onboarding2"
            android:exported="false" />
        <activity
            android:name=".perbaruikatasandi"
            android:exported="false" />
        <activity
            android:name=".activity_onboarding1"
            android:exported="false" />
        <activity
            android:name=".lupakatasandi"
            android:exported="false" />
        <activity
            android:name=".profilll"
            android:exported="false" />
        <activity
            android:name=".berhasilmembuatakun"
            android:exported="false" />
        <activity
            android:name=".berhasilbuatsandi"
            android:exported="false" />
        <activity
            android:name=".buatkatasandibaru"
            android:exported="false" />
        <activity
            android:name=".konfirmasiverifikasiemail"
            android:exported="false" />
        <activity
            android:name=".activity_buat_akun"
            android:exported="false" />
        <activity
            android:name=".activity_Halaman_Login"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>